body,
h1,
h2,
h3,
p {
  margin: 0;
}

.h1 {
  padding: 15px 0;
  text-align: center;
  color: #638889;
}

.submitBtn {
  padding: 10px 25px;
  background: #4F6F52;
  color: #C6CF9B;
  border: none;
  cursor: pointer;
  transition: 0.4s all;
}

.submitBtn:hover,
.submitBtn:active,
.submitBtn:focus {
  background: #527853;
}

.pickBtn {
  padding: 10px 25px;
  background: #92C7CF;
  color: #365486;
  border: none;
  cursor: pointer;
  transition: 0.4s all;
}

.pickBtn:hover,
.pickBtn:active,
.pickBtn:focus {
  background: #AAD7D9;
}